### Básicos de Python II

- Control de flujo

- Operaciones con cadenas de texto

---

### Control de flujo

In [ ]:
# if, elif, else

price = float(input("Enter a price: "))
quantity = int(input("Enter a quantity: "))
amount = price*quantity

if amount > 100:
    if amount > 500:
        print("Amount is greater than 500")
    else:
        if amount < 500 and amount > 400:
            print("Amount is")
        elif amount < 500 and amount > 300:
            print("Amount is between 300 and 500")
        else:
            print("Amount is between 200 and 500")
elif amount == 100:
    print("Amount is 100")
else:
    print("Amount is less than 100")

In [ ]:
# for loop

rows = 5
# outer loop
for i in range(rows):
    # inner loop
    for j in range(i + 1):
        print("*", end=" ")
    print('')

In [ ]:
# while loop

names = ['Ana', 'Fran', 'Angel', 'Jaime', 'Pedro', 'Elvira', 'Halima', 'Javier', 'Guillaume']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count += 1
    print(name)

In [ ]:
# break

for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i, j)

---

### Operaciones con cadenas de texto

In [ ]:
my_string = 'Cadena de Texto'
print(type(my_string))

#### Concatenar cadenas de texto

In [ ]:
# using operators
print('Hello' + " " + 'World')

In [ ]:
print('Data ' * 8)

In [ ]:
# Using format method
a = 'Penny is'
b = 'dog'
print( a + ' a ' + 'beautiful' + ' ' + b)
str_01 = a
str_02 = b
print('{} a beautiful {} that is what {}'.format(str_01, str_02, str_01))
#print('{0} a beautiful {1} that is what {0}'.format(str_01, str_02))
#print(f'{str_01} a beautiful {str_02}')

#### .join()

In [ ]:
str_03 = 'Happy'
str_04 = 'Puppies'
str_05 = [str_03, str_04, str_03]

print(str_05)
print(' '.join(str_05))
print(type('hello'.join(str_05)))

#### .strip()

In [ ]:
'      y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj                  '.strip()

In [ ]:
'      y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj                  '.rstrip()

In [ ]:
'      y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj                  '.lstrip()

#### Segmentación

In [ ]:
word = 'automobile'
print(word[0])
#print(word[5])
#print(word[-1])
#print(word[-4])
#print(word[0:4])
#print(word[:4])
#print(word[4:])
#print(word[0:5])
#print(word[0:5:2])
#print(word[-3:len(word):2])

#### .split()

In [ ]:
text = 'Leben ist das was passiert, während Du dabei bist andere Pläne zu machen.'
print(text.split())
#print(text.split(' '))
#print(text.split(','))
#print(text.split('.'))
#print(text.split('p'))
#print(text.split('passiert,'))

#### .startwith() / .endswith()

In [ ]:
phrase = 'Ut desint vires, tamen est laudanda voluntas.'
print(phrase.startswith('U'))
#print(phrase.startswith('Ut'))
#print(phrase.startswith('ut'))
#print(phrase.endswith('.'))
#print(phrase.endswith('volutas.'))
#print(phrase.endswith('Volutas.'))

#### in

In [ ]:
print('desint' in phrase)
#print('tamen' in phrase)
#print('Laudanda' in phrase)

#### .lower() / .upper() / .capitalize() / .title()

In [ ]:
quote = 'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS. but helLo'

print(quote.lower())
#print(quote.upper())
#print(quote.capitalize()) # only first
#print(quote.title()) # all words

#### .replace()

In [ ]:
statement = 'I thought       the movie    was wonderful!   '

print(statement.replace('wonderful', 'horrible'))
#print(statement.replace('wonderful', 'just OK'))
#print(statement.replace('o', 'laksjdflñkjasñdl'))
#print(statement.replace(' ', ''))

#### Ejemplos complejos

In [ ]:
split_str = quote.split('.')

first_capitalize = split_str[0].capitalize()
second_capitalize = split_str[1].strip().capitalize()

print(first_capitalize + '. ' + second_capitalize)
#print(f'{first_capitalize}. {second_capitalize}')